$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: rgb(0, 0, 0);
$color-grey-1: #f7f7f7;
$color-sec-light:#ffb900;
$color-sec-dark: #ff7730;
$color-third-light: #2998ff;
$color-third-dark: #5643ff;




//.................grid.............

$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-horizental:6rem; 


//shadow variabale


$default-shadow: 0 1rem 2rem rgba(black, 0.2);

