.footer{
    height: 40vh;
    background-color: #111111;
 
&__head__text{
color: rgb(151, 151, 151);
font-size: 1.6rem;
margin-bottom: 2rem;

}
    &__heading{
        font-size: 2rem;
        color: white;
        padding: 5rem;
        font-family: 'Raleway', sans-serif;
    }

    &__links{
        text-decoration: none;
        color: white;
        display: block;
        font-size: 1.5rem;
        margin-right: 3rem;
        margin-top: 0.6rem;
    }

    &__container{
        display: flex;
        flex: 0 0 50%;
        justify-content: space-between;
    }

    &__links__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 5rem 9rem 4rem 2rem;
        
    }
}
.copyr{
    color: rgb(97, 90, 90);
    font-size: 1.5rem;
    padding: 2rem;
   
}