.grey{
    color: #555;
}
.white{
    color: white !important;
}

.black{
    color: black !important;
}
.light-grey{
    color: rgb(190, 190, 190) !important;
}

.bold{
    font-weight: bold !important;
}
